body {
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.finished {
    background-color: white;
    color: gray;
}

.current {
    background-color: green;
    color: black;
}

.incorrect {
    background-color: red;
    color: black;
}


p {
    border-top: 1px solid gray;
}

p#last {
    border-bottom: 10px solid gray;
}

p.nolines {
    border: none;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}
